{% extends "base.html" %}
{% block content %}
	<div class="container">

	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					{% if user.is_authenticated %}
					Welcome, {{ user.username  }}
					{% else %}
					Please log in or register first
					{% endif%}
				</h1>
				<p>
					Visual Sydney Rock - Version: Beta 0.0.1
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="{{ dpage}}">Windows 10/8.1/7</a>
					 <a class="btn btn-primary btn-large" href="{{ dpage }}" >Mac-OS</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
